# Broker
RABBITMQ_USER="rmuser"
RABBITMQ_PASSWORD="rmpassword"
RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672

# Uvicorn
UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8002
UVICORN_RELOAD=True
UVICORN_LOG_LEVEL= "info"