# Broker
RABBITMQ_USER="rmuser"
RABBITMQ_PASSWORD="rmpassword"
RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT="5672"

# DB
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="kontur"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="admin"

# APP
RESULT_TTL=30