DATABASE_URL=postgresql://postgres:admin@postgres:5432/kontur

# JWT

SECRET_KEY=gagara_super_secret_key_2026_for_cv_security_system_very_long_key_12345

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

REFRESH_TOKEN_EXPIRE_DAYS=7

VIDEOS_DIRECTORY=dir